@model DotNetCorePortfolio.Models.ListModel
@{
    ViewData["Name"] = "YUHEI FUJISAWA";
}

<!-- banner -->
<section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 fs_banner banner_margin">
                <p class="font-monospace text-white">>_ Hello, world!</p>
                <p>My name is @ViewData["Name"]</p>
                <p><i class="bi bi-hash"></i><i>Software Developer</i></p>
            </div>
        </div>
    </div>
</section>
<!-- banner -->
<!-- about -->
<section class="py-5 about" id="page-about">
    <div class="container py-3">
        <h2 class="page-heading">About Me</h2>
        <div class="row">
            <div class="col-lg-6 mt-5 text-center">
                <p class="fs-1"><strong>@ViewData["Name"]</strong></p>
                <p class="fs-3">Software Developer</p>
                <p class="text-muted about-text">
                    I have a diverse set of skills, ranging from Web development (HTML, CSS, and JavaScript), to 
                    C# and Android development and Linux administration.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/img/profile_photo.jpg" alt="image of myself" class="img-fluid img-thumbnail rounded-pill" /> 
            </div>
        </div>
    </div>
</section>
<!-- about -->
<!-- skill -->
<section class="py-5 skill" id="page-skill">
    <div class="container py-3">
        <h2 class="page-heading">Skills</h2>
        <div class="row">
            @foreach (Skill skill in Model.SkillModel)
            {   
                <div class="col-6 col-md-4 p-3">
                    <h3>@skill.Name</h3>
                    <div class="progress border border-secondary bg-transparent">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                        aria-valuenow="@skill.Percentage" aria-valuemin="0" aria-valuemax="100" style="width: @skill.Percentage%">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- skill -->
<!-- project -->
<section class="py-5 project" id="page-project">
    <div class="container py3">
        <h2 class="page-heading">Projects</h2>
        <div class="row justify-content-center mt-5">
            @foreach (Project project in Model.ProjectModel)
            {
                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <div class="card">
                        <img src="@project.Thumbnail" alt="@project.Title" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <p class="card-text">@project.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- project -->
<!-- Experience -->
<section class="py-5 experience" id="page-experience">
    <div class="container py-3">
        <h2 class="mb-5 page-heading">Experiences</h2>
        <div class="container">
        @foreach (Experience experience in Model.ExperienceModel)
        {
            <div class="row mb-3">
                <div class="col-md-3 p-3 exp-heading">
                    <h4>@experience.Title</h4>
                    <h5 class="fs-6 mb-0">@experience.Duration</h5>
                </div>
                <div class="col-md-9 mt-4">
                    <p class="experience-text">@experience.Description</p>
                </div>
            </div>
        }
        </div>
    </div>
</section>
<!-- Experience -->
<!-- Contact -->
<section class="py-5 contact" id="page-contact">
    <div class="container py-3">
        <h2 class="mb-5 page-heading">Contact</h2>
        <div class="container">
            @if (TempData["MessageSent"] is not null)
            {   
                <div class="row">
                @if ((bool)TempData["MessageSent"])
                {
                    <div class="alert alert-success" role="alert">
                        Your message has been sent!
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        Ooops, something went wrong!      
                    </div>
                }
                </div>
            }

            <div class="row">
                <div class="col-lg-6 mx-auto card card-body mb-5 card-form">
                   <form asp-controller="Contact" asp-action="LeaveMessage" method="post">
                        <div class="pb-4 pt-2 row g-0">
                            <div class="form-floating col pe-4">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="name@example.com" required>
                                <label class="form-label text-muted" for="Email">Email address</label>
                            </div>
                            <div class="form-floating col">
                                <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Your Name">
                                <label class="form-label text-muted" for="FullName">Your Name</label>
                            </div>
                        </div>
                        <div class="pb-4 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="Message" name="Message" style="height: 100px"></textarea>
                            <label class="form-label text-muted" for="Message">Message</label>
                        </div>
                        <div class="pb-2"><button type="submit" class="btn btn-light text-uppercase">send a message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->

